* {
    margin: 0;
    padding: 0;
    font-family: 'Amazon Ember', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #E3E6E6;
}

:root {
    --white: rgb(255, 255, 255);
}

/* NavBar Style */
nav {
    background-color: #131921;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-box {
    height: 3.75rem;
    width: 6.25rem;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("./assets/imgs/amazon_logo.png");
    height: 3.5625rem;
    width: 6.25rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.border {
    border: 0.0625rem solid transparent;
    padding: 5px;
}

.border:hover {
    border: 0.0625rem solid var(--white);
}

.address {
    color: var(--white);
}

.address-top {
    font-size: 0.75rem;
    padding-left: 0.9375rem;
}

.address-bottom {
    display: flex;
    align-items: center;
}

.india-bold {
    font-size: 0.9rem;
    font-weight: 700;
    padding-left: 0.1875rem;
}

.location {
    height: 1.25rem;
    width: 0.75rem;
}

.search-bar {
    height: 2.5rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.25rem;
}

.search-select {
    width: 3.4375rem;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: #E6E6E6;
    border: none;
    cursor: pointer;
}

.input-field {
    width: 23.75rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 0.4375rem 0.625rem;
}

.magnifying-glass {
    width: 2.8125rem;
    cursor: pointer;
}

.search-icon {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ffc376;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border: none;
    font-size: 1.2rem;
}

.input-field::placeholder {
    color: rgb(138, 138, 138);
}

.bold {
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 700;
}

.flag img {
    height: 1.25rem;
    width: 1.4375rem;
    padding-right: 0.25rem;
}

.flag {
    display: flex;
    align-items: center;
}

.sign-in-upper-text {
    color: #FFFF;
    font-size: 0.75rem;
}

.bold-text {
    color: #FFFF;
    font-size: 0.875rem;
    font-weight: 700;
}

.cart {
    color: white;
}

.cart-logo {
    font-size: 1.875rem;
}

.cart-text {
    font-size: 0.875rem;
    font-weight: 600;
}

/* Panel Style */
.panel {
    height: 2.4375rem;
    background-color: #222F3E;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outer-div-first-box {
    display: flex;
}

.first-box>span {
    font-size: 0.875rem;
    font-weight: 700;
    margin-left: 0.3125rem;
}

.first-box {
    display: flex;
    margin-left: 1.0625rem;
}

.second-box {
    display: flex;
    margin-left: 1.0625rem;
}

.first-box:first-child {
    font-size: 1.125rem;
}

.second-box>p {
    font-size: 0.875rem;
    margin-right: 1.0625rem;
}

.third-box {
    font-size: 0.875rem;
    font-weight: 700;
    margin-right: 1.0625rem;
}

/* Hero Section Style */
.hero-banner {
    background-image: url('./assets/imgs/hero-img.jpg');
    height: 20.625rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: #F5F6F6;
    color: black;
    height: 2.5rem;
    width: 64rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

.hero-banner a {
    color: #007185;
    text-decoration: none;
    line-height: 1.25rem;
}

.products {
    background-color: #E4E6E6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    background-color: #FFFF;
    height: 25rem;
    width: 31%;
    margin-top: 1.25rem;
}

.box2 h2 {
    font-size: 23px;
}

.product-img {
    height: 18.75rem;
    background-size: cover;
    margin: 0.625rem 1.25rem 1.25rem 1.25rem;
}

.products h2 {
    margin: 0.625rem 1.25rem;
    margin-top: 0.9375rem;
}

.products p {
    font-size: 0.8125rem;
    color: #007185;
    padding-left: 1.25rem;
}

/* Footer Section Style */
.back-to-top {
    height: 3.125rem;
    background-color: #3A4758;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8125rem;
    margin-top: 1.5625rem;
}

.first-footer {
    height: 20rem;
    background-color: #252F3D;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.first-footer ul {
    display: flex;
    flex-direction: column;
    margin-top: 3.125rem;
}

.first-footer a {
    font-size: 0.875rem;
    color: rgb(221, 221, 221);
    line-height: 1.0625rem;
    text-decoration: none;
    margin-bottom: 0.75rem;
}

.list-heading {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin-bottom: 0.9375rem;
}

footer hr {
    height: 0.0625rem;
    background-color: #44474c;
    border: none;
}

.second-footer {
    height: 4.375rem;
    background-color: #252F3D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-logo {
    background-image: url("./assets/imgs/amazon_logo.png");
    height: 3.5625rem;
    width: 6.25rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.second-footer-right {
    display: flex;
}

.second-footer p {
    font-size: 0.8125rem;
    color: rgb(204, 204, 204);
    border: 0.03125rem solid rgb(204, 204, 204);
    margin: 0.25rem;
    border-radius: 0.125rem;
    padding: 0.3125rem 0.625rem;
}

.third-footer {
    height: 4.375rem;
    background-color: #141A21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-footer a,
.third-footer p {
    color: rgb(221, 221, 221);
    font-size: 0.75rem;
    text-decoration: none;
    margin-right: 0.5rem;
}

.third-footer-up {
    margin-bottom: 0.5rem;
}


/* Responsive Media Queries */

/* Tablets and Small Desktops */
@media (max-width: 1024px) {
    nav {
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

    .logo-box {
        width: 5rem;
        /* 80px */
    }

    .logo {
        height: 3.125rem;
        /* 50px */
        width: 5rem;
        /* 80px */
    }

    .search-bar {
        width: 100%;
        max-width: 19rem;
        /* 400px */
        margin-top: 10px;
    }

    .hero-msg {
        font-size: 11.5px;
    }

    .products h2 {
        font-size: 23px;
    }

    .products p {
        text-align: center;
    }

    .product-img {
        height: 195px;
    }

    .box {
        height: 18rem;
    }

    .box2 h2,
    .box4 h2 {
        font-size: 17px;
    }

    .input-field {
        width: calc(100% - 3.4375rem);
        /* 55px */
    }

    .flag {
        display: none;
    }

    .address,
    .sign-in,
    .returns,
    .cart {
        font-size: 0.7rem;
    }

    .panel {
        height: 45px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .first-box,
    .second-box,
    .third-box {
        font-size: 0.9rem;
    }

    .hero-banner {
        height: 18.75rem;
        /* 300px */
        background-size: cover;
        background-position: center;
    }
}

/* Mobile Devices */
@media (max-width: 768px) {
    nav {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-box {
        width: 6rem;
        /* 50px */
    }

    .logo {
        height: 5rem;
        /* 36px */
        width: 6rem;
        /* 50px */
    }

    .second-box>p {
        font-size: 10px;
        margin-right: 4px;
    }

    .first-box:first-child {
        font-size: 14px;
    }



    .search-bar {
        width: 100%;
        max-width: 21rem;
        margin: -1px 0 12px 0;
        height: 33px;
    }

    .input-field {
        width: calc(100% - 3.4375rem);
        /* 55px */
    }

    .magnifying-glass {
        width: 2.5rem;
        /* 40px */
    }

    .third-box,
    .address,
    .flag,
    .sign-in,
    .returns,
    .cart {
        display: none;
    }

    .cart-logo {
        font-size: 1.25rem;
        /* 20px */
    }

    .panel {
        height: 45px;
        padding: 0.25rem;
        justify-content: center;
        align-items: center;
    }

    .first-box,
    .second-box,
    .third-box {
        font-size: 0.625rem;
    }

    .hero-banner {
        height: 12.5rem;
        /* 200px */
    }

    .hero-msg {
        width: 100%;
        font-size: 8px;
        height: 35px;
    }

    .products {
        flex-direction: row;
        align-items: center;
    }

    .products h2,
    .products p {
        text-align: center;
    }

    .products p {
        margin-top: -5px;
    }


    .box {
        background-color: #FFFF;
        height: 8.5rem;
        width: 30%;
        margin-bottom: 0px;
    }

    .product-img {
        height: 240px;
        /* 150px */
    }

    .first-footer {
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
        height: 150px;
    }

    .first-footer ul {
        margin-top: 1.25rem;
        /* 20px */
    }

    .second-footer {
        height: auto;
        padding: 5px 0 0 0;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
    }

    .third-footer {
        font-size: 0.625rem;
        text-align: center;
        height: 45px;
    }

    .back-to-top {
        height: 35px;
    }

    .list-heading {
        font-size: 7px;
        margin-bottom: 6px;
    }

    .first-footer a {
        font-size: 6px;
        margin-bottom: 0px;
    }

    .second-footer p {
        font-size: 10px;
    }

    .footer-logo {
        height: 45px;

    }

    .third-footer a,
    .third-footer p {
        font-size: 7px;
    }

    .back-to-top p {
        font-size: 10px;
    }
}

/* Extra Small Devices */
@media (max-width: 576px) {

    nav {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-box {
        width: 6rem;
        /* 50px */
    }

    .logo {
        height: 5rem;
        /* 36px */
        width: 6rem;
        /* 50px */
    }

    .second-box>p {
        font-size: 10px;
        margin-right: 4px;
    }

    .first-box>span {
        font-size: 10px;
    }

    .first-box:first-child {
        font-size: 11px;
    }



    .search-bar {
        width: 100%;
        max-width: 21rem;
        margin: -1px 0 12px 0;
        height: 33px;
    }

    .input-field {
        width: calc(100% - 3.4375rem);
        /* 55px */
    }

    .magnifying-glass {
        width: 2.5rem;
        /* 40px */
    }

    .third-box,
    .address,
    .flag,
    .sign-in,
    .returns,
    .cart {
        display: none;
    }

    .cart-logo {
        font-size: 1.25rem;
        /* 20px */
    }

    .panel {
        height: 45px;
        padding: 0.25rem;
        justify-content: center;
        align-items: center;
    }

    .first-box,
    .second-box,
    .third-box {
        font-size: 0.625rem;
    }

    .hero-banner {
        height: 12.5rem;
        /* 200px */
    }

    .hero-msg {
        width: 100%;
        font-size: 6px;
        height: 25px;
    }

    .products {
        flex-direction: row;
        align-items: center;
    }

    .products h2,
    .products p {
        text-align: center;
    }

    .products h2 {
        font-size: 8px;
    }

    .products p {
        font-size: 7px;
        margin-top: 5px;
        padding-left: 0;
    }


    .box {
        background-color: #FFFF;
        height: 8.5rem;
        width: 30.5%;
        margin-bottom: 0px;
    }

    .box2 h2,
    .box4 h2 {
        font-size: 6px;
    }

    .product-img {
        height: 80px;
        margin: 0 5px 0 5px;
    }

    .first-footer {
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
        height: 150px;
    }

    .first-footer ul {
        margin-top: 1.25rem;
        /* 20px */
    }

    .second-footer {
        height: auto;
        padding: 5px 0 0 0;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
    }

    .third-footer {
        font-size: 0.625rem;
        text-align: center;
        height: 45px;
    }

    .back-to-top {
        height: 35px;
    }

    .list-heading {
        font-size: 7px;
        margin-bottom: 6px;
    }

    .first-footer a {
        font-size: 6px;
        margin-bottom: 0px;
    }

    .second-footer p {
        font-size: 10px;
    }

    .footer-logo {
        height: 45px;

    }

    .third-footer a,
    .third-footer p {
        font-size: 7px;
    }

    .back-to-top p {
        font-size: 10px;
    }
}

/* Mobile Devices */
@media (max-width: 405px) {
    .second-box>p {
        font-size: 8px;
        margin-right: 4px;
    }

    .first-box>span {
        font-size: 10px;
    }

    .first-box:first-child {
        font-size: 11px;
    }

    .hero-msg {
        width: 100%;
        font-size: 5px;
        height: 25px;
    }

    .panel {
        height: 45px;
        padding: 0.25rem;
        justify-content: center;
        align-items: center;
    }

    .box {
        background-color: #FFFF;
        height: 8.5rem;
        width: 31%;
        margin-bottom: -5px;
    }

    .products {
        flex-direction: row;
        align-items: center;
    }

    .product-img {
        height: 80px;
        margin: 0 5px 0 5px;
    }

    .products h2 {
        font-size: 8px;
    }

    .products p {
        font-size: 7px;
        margin-top: 5px;
        padding-left: 0;
    }

    .box2 h2,
    .box4 h2 {
        font-size: 5px;
    }
}